/* NOTE id(#) should be unique to only one element/tag while classes(.) can be used for many elements/tags */
/* Padding creates space inside an element. Margin creates space outside of it */

body {
    background-color: #faf8ed;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: #7C3988;
    color: #FFF6FF;
    padding: 5px;
    text-align: center;
    font-family:'Roboto', sans-serif;
}

#mainHeader {
    font-size: 50px;
    font-family: 'Merienda', cursive;;
}

#subHeader {
    font-size: 18px;
}

#navigationBar {
    background-color: #A885AC;
    position: sticky;
    /* top set to 0 will keep the nav bar at the top */
    top: 0;
}

#navigationBar a {
    color: #FFF6FF;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
}

.pageContent {
    padding: 1.5%;
    display: flex;
    /* -ms-flexbox accounts for outdated browsers */
    display: -ms-flexbox;
}

.sideBar {
    flex: 30%;
    padding-right: 2%;
    -ms-flex: 30%;
}

.title {
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    text-decoration: underline;
}

.main {
    flex: 70%;
    -ms-flex: 70%;
}

img {
    width: 100%;
}

/* @media makes site responsiive to varying screen sizes by overriding other CSS styling*/
@media screen and (max-width: 700px) {
    #navigationBar {
        position: relative;
    }

    #navigationBar a {
        display: flex;
    }

    .pageContent {
        flex-direction: column;
    }
}


